#slide-news-home {
    margin-top: 30px;
}
#slide-news-home .h2-title::after {
    left: 50.2% !important;
}
#slide-news-home a:hover{
    text-decoration: none !important;    
}
#slide-news-home .card {
    margin: 0 15px;
}
#slide-news-home .card .card-body .card-title {
    min-height: 50px;
}