<div id="slide-news-home" *ngIf="data else loading">    
    <h2 class="h2-title d-flex align-items-center justify-content-center text-color"><img alt="icon-alt" src="../../../assets/images/icon_pharmacy_blueX.png"/>Tin tức</h2>    
    <div class="container">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let itemNews of data">
                <a [routerLink]="['/news', itemNews.id]" class="wrap-slide-technical">
                    <img [alt]="itemNews['title']['rendered']" class="img-fluid" [src]="itemNews['_embedded']['wp:featuredmedia'][0]['source_url']"/>
                    <span class="h4-title-new d-flex align-items-center justify-content-center">
                        <h4>{{itemNews['title']['rendered']}}</h4>
                    </span>
                </a>
            </ng-template>            
        </owl-carousel-o> 
    </div>    
</div>

<ng-template #loading>
    <div class="container">Loading...</div>
</ng-template>