#slide-news-home {
    margin-top: 30px;
}
#slide-news-home .h2-title::after {
    left: 50.2% !important;
}
#slide-news-home a:hover{
    text-decoration: none !important;
}
h4.h4-title-new {
    background-color: rgba(0,0,0,0.6);
    color: #fff;    
    padding: 15px 3px; 
    text-align: center;
    font-size: 18px;    
}
h4.h4-title-new:hover {
    text-decoration: underline !important;    
}