<div id="slide-news-home">    
    <h2 class="h2-title d-flex align-items-center justify-content-center text-color"><img alt="icon-alt" src="../../../assets/images/icon_pharmacy_blueX.png"/>Tin tức</h2>
    <div class="container">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <a href="#" class="wrap-slide-technical">
                    <img alt="Dây chuyền sản xuất cốm bột" class="img-fluid" src="../../../assets/images/tin-tuc/tin-tuc-1.jpg"/>
                    <h4 class="h4-title-new">Giúp kiểm soát huyết áp và phòng bệnh tim</h4>
                </a>
            </ng-template>
            <ng-template carouselSlide>
                <a href="#" class="wrap-slide-technical">
                    <img alt="Dây chuyền sản xuất cốm bột" class="img-fluid" src="../../../assets/images/tin-tuc/tin-tuc-2.jpg"/>
                    <h4 class="h4-title-new">Tăng cường đề kháng bằng thực phẩm</h4>
                </a>
            </ng-template>
            <ng-template carouselSlide>
                <a href="#" class="wrap-slide-technical">
                    <img alt="Dây chuyền sản xuất cốm bột" class="img-fluid" src="../../../assets/images/tin-tuc/tin-tuc-3.jpg"/>
                    <h4 class="h4-title-new">Bí quyết dinh dưỡng cho mùa dịch</h4>
                </a>
            </ng-template>
            <ng-template carouselSlide>
                <a href="#" class="wrap-slide-technical">
                    <img alt="Dây chuyền sản xuất cốm bột" class="img-fluid" src="../../../assets/images/tin-tuc/tin-tuc-4.jpg"/>
                    <h4 class="h4-title-new">Dinh dưỡng cho người cao tuổi trong mùa dịch</h4>
                </a>
            </ng-template>
            <ng-template carouselSlide>
                <a href="#" class="wrap-slide-technical">
                    <img alt="Dây chuyền sản xuất cốm bột" class="img-fluid" src="../../../assets/images/tin-tuc/tin-tuc-5.jpg"/>
                    <h4 class="h4-title-new">Cơ thể khỏe mạnh, vượt qua dịch bệnh</h4>
                </a>
            </ng-template>                        
        </owl-carousel-o> 
    </div>    
</div>