<div class="container" id="foxsUSA-services">
    <h2 class="h2-title col-12 d-flex align-items-center justify-content-center text-color"><img alt="icon-title" src="../../../assets/images/icon_pharmacy_blueX.png"/>Dây chuyền sản xuất</h2>
    <div class="row">        
        <div class="col-md-6 col-12 text-center">
            <img alt="Dây chuyền sản xuất cốm bột" class="img-fluid" src="../../../assets/images/day_chuyen_com_bot.jpg"/>
        </div>
        <div class="col-md-6 col-12 text-center">
            <img alt="Dây chuyền sản xuất viên nang" class="img-fluid" src="../../../assets/images/day_chuyen_vien_nen.jpg"/>
        </div>        
    </div>
</div>