<div class="container" id="foxsUSA-services" *ngIf="data else loading">
    <h2 class="h2-title col-12 d-flex align-items-center justify-content-center text-color"><img alt="icon-title" src="../../../assets/images/icon_pharmacy_blueX.png"/>Dây chuyền sản xuất</h2>
           
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let itemTechnical of data">
            <a [routerLink]="['/technical', itemTechnical.id]" class="wrap-slide-technical">
                <img [alt]="itemTechnical['title']['rendered']" class="img-fluid" [src]="itemTechnical['_embedded']['wp:featuredmedia'][0]['source_url']"/>
                <h3 class="h3-title-teachnical">{{itemTechnical['title']['rendered']}}</h3>
            </a>
        </ng-template>      
    </owl-carousel-o>    
</div>

<ng-template #loading>
    <div class="container">Loading...</div>
</ng-template>