<div class="container-fluid" id="footer">
    <div class="row">
        <div class="col-md-3 text-md-left text-center">
            <img alt="Logo Foxs-USA" src="../../../assets/images/logo_Foxs-USA.png" class="logo"/>
            <p class="text-justify">                
                Tự hòa là một trong những công ty dược phẩm hàng đầu Việt Nam. Luôn đi đầu trong lĩnh vực nghiên cứu và sản xuất dòng sẩn phẩm chức năng chất lượng cao.
            </p>
        </div>
        <div class="col-md-3">
            <h3 class="title-footer text-color">Thông tin liên hệ</h3>
            <h4 class="title-info-contact">
                CÔNG TY CỔ PHẦN DƯỢC PHẨM LIÊN DOANH FOXS-USA
            </h4>
            <ul>
                <li class="li-icon icon-address">Cụm công nghiệp Hà Bình Phương, Văn Bình, Thường Tín, Hà Nội </li>
                <li class="li-icon icon-tel">0243.200.8021 - 0243.200.8023</li>
                <li class="li-icon icon-email">foxsusapharma@gmail.com</li>
            </ul>
        </div>
        <div class="col-md-3 d-sm-block d-none">
            <h3 class="title-footer text-color">Bản đồ</h3>
            <img alt="Ban do dia chi Foxs-USA" src="../../../assets/images/bando.PNG" class="map-footer"/>
        </div>
        <div class="col-md-3 d-sm-block d-none">
            <h3 class="title-footer text-color">Fanpage</h3>
            <img alt="Ban do dia chi Foxs-USA" src="../../../assets/images/img_footer_01.png" style="width: 98%;"/>
        </div>
    </div>
</div>
<div class="container-fluid" id="info-footer">
    <div class="row">
        <div class="col-md-4">
            <ul class="nav justify-content-sm-start justify-content-center">
                <li class="nav-item">
                  <a href="#">
                      <img alt="Icon footer social" src="../../../assets/images/icon-sm-face.png" />
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#">
                      <img alt="Icon footer social" src="../../../assets/images/icon-sm-google.png" />
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#">
                      <img alt="Icon footer social" src="../../../assets/images/icon-sm-instal.png" />
                  </a>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <img alt="Icon footer social" src="../../../assets/images/icon-sm-twiter.png" />
                    </a>
                </li>                
            </ul>            
        </div> 
        <div class="col-md-8 d-sm-block d-none">
            <ul class="nav float-right">
                <li class="nav-item">
                  <a class="nav-link text-color" href="#">Trang chủ</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-color" href="#">Giới thiệu</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-color" href="#">Dịch vụ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-color" href="#">Tin tức</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-color" href="#">Tuyển dụng</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-color" href="#">Liên hệ</a>
                </li>                
            </ul>
        </div>
    </div>
</div>