<div class="container-fluid d-sm-block d-none" id="top-bar">
    <div class="row align-items-center">
        <div class="col-md-3 text-center">
            <a routerLink="/">
                <img alt="Logo Foxs-USA" class="logo" src="../../../assets/images/logo_Foxs-USA.png" title="Logo Foxs-USA"/>
            </a>            
        </div>
        <div class="col-md-6 text-center">
            <h1 class="title-web text-color">CÔNG TY CỔ PHẦN DƯỢC PHẨM LIÊN DOANH<br/>FOXS-USA</h1>
        </div>
        <div class="col-md-3 text-center">
            <a href="tel:+842432008021">
                <img alt="Hotline Foxs-USA" class="hotline-header" src="../../../assets/images/hot-line.png" title="Hotline Foxs-USA"/>
            </a>
        </div>
    </div>
</div>