<div class="container">
    <form>
        <div class="form-row">
          <div class="col-6">
            <input type="text" class="form-control" placeholder="Họ tên khách hàng">
            <div class="form-row">
                <div class="col-6" style="margin: 5px 0;">
                    <input type="text" class="form-control" placeholder="Email">
                </div>
                <div class="col-6" style="margin: 5px 0;">
                    <input type="text" class="form-control" placeholder="Điện thoại">
                </div>
            </div>
            <div class="form-group">                
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Nội dung!"></textarea>
            </div>
            <div class="form-row">
                <div class="col-8">
                    <img alt="catcha google" class="img-fluid" src="./../../../assets/images/recaptcha.png"/>
                </div>
                <div class="col-4">
                    <input name="btnSend" class="btn btn-primary float-right" type="button" value="Gửi thông tin!">
                </div>
            </div>
          </div>
          <div class="col-6">
            <img alt="Img contact" class="img-fluid" src="./../../../assets/images/kiem_nghiem.jpg" />
          </div>          
        </div>
    </form>
</div>
<div class="gmap-contact">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3728.0145375649827!2d105.86905631492995!3d20.871464286083732!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135b22be8ac570d%3A0xa5040ab6fe44407c!2zS2h1IEPDtG5nIE5naGnhu4dwIEjDoCBCw6xuaCBQaMawxqFuZw!5e0!3m2!1svi!2s!4v1583792424076!5m2!1svi!2s" width="1200" height="600" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>