<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" *ngIf="data else loading">
    <ol class="carousel-indicators">      
      <li data-target="#carouselExampleIndicators" *ngFor="let itemSlide of data; let i = index" [attr.data-slide-to]="i" [class]="i === 0 ? 'active' : null"></li>    
    </ol>
    <div class="carousel-inner">
      <div *ngFor="let itemSlide of data; let i = index" [class]="i === 0 ? 'carousel-item active' : 'carousel-item'">
        <img class="d-block w-100" [src]="itemSlide['_embedded']['wp:featuredmedia'][0]['source_url']" [alt]="itemSlide['slug']">
      </div>  
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

<ng-template #loading>
  <div class="container">Loading...</div>
</ng-template>