<app-header></app-header>

<app-main-menu></app-main-menu>

<div id="main-content">            
    
    <router-outlet></router-outlet>

</div>

<app-footer></app-footer>

<ul id="support-right">
    <li>
        <a href="#"><img alt="Lang VN" src="./../assets/images/vn.png" class="icon-lang lang-vn"/></a>
        <a href="#"><img alt="Lang EN" src="./../assets/images/en.png" class="icon-lang lang-en"/></a>
    </li>
    <li>
        <a href="https://zalo.me/0985475222" target="_blank"><img alt="Chat Zalo" src="./../assets/images/zalo.png" class="icon-support icon-zalo"/></a>
    </li>
    <li>
        <a href="#"><img alt="Chat Zalo" src="./../assets/images/face-mes.png" class="icon-support icon-face"/></a>
    </li>
    <li>
        <a href="#"><img alt="Chat Zalo" src="./../assets/images/phone.png" class="icon-support icon-phone"/></a>
    </li>
</ul>