<app-header></app-header>

<app-main-menu></app-main-menu>

<div id="main-content">            
    
    <router-outlet></router-outlet>

</div>

<app-footer></app-footer>

<ul id="support-right">
    <li>
        <a href="#"><img alt="Lang VN" src="./../assets/images/vn.png" class="icon-lang lang-vn"/></a>
        <a href="#"><img alt="Lang EN" src="./../assets/images/en.png" class="icon-lang lang-en"/></a>
    </li>
    <li>
        <a href="https://www.facebook.com/nhamaysanxuatthucphambvskFOXSUSA" target="_blank"><img alt="Chat Zalo" src="./../assets/images/face-mes.png" class="icon-support icon-face"/></a>
    </li>
    <li>
        <a href="tel:+842432008021"><img alt="hotline FoxsUSA" src="./../assets/images/phone.png" class="icon-support icon-phone"/></a>
    </li>
</ul>
<div class="zalo-chat-widget" data-oaid="942509844073393221" data-welcome-message="Rất vui khi được hỗ trợ bạn!" data-autopopup="0" data-width="350" data-height="420"></div>