<div class="container d-sm-block d-none" id="suMenh">
    <h2 class="h2-title col-12 d-flex align-items-center justify-content-center text-color"><img alt="icon-title" src="../../../assets/images/icon_pharmacy_blueX.png"/>Sứ mệnh</h2>
    <div class="row">        
        <div class="col-md-6 col-sm-6">
            <p style="text-align: justify;">
                FOXS-USA với sứ mệnh luôn mang lại sản phẩm chất lượng cao vì sức khỏe con người. Công ty chúng tôi không ngừng tìm tòi định hướng phát triển chiến lược để nghiên cứu nâng cao để đưa những sản phẩm chất lượng tới khách hàng, dựa trên 4  giá trị cốt lỗi:
            </p>
            <ol style="text-align: justify;">
                <li><strong class="text-color">Sáng tạo:</strong> Theo đuổi những ý tưởng sáng tạo để luôn đổi mới các sản phẩm phù hợp với xu hướng hiện tại.</li>
                <li><strong class="text-color">Trách nhiệm:</strong> Luôn cố gắng bảo vệ chữ tín của công ty, luôn nỗ lực hết mình để đảm bảo đúng và cao hơn cam kết của mình với khách hàng, đối tác.</li>
                <li><strong class="text-color">Tận Tâm:</strong> làm việc hết sức để đạt được kết quả cuối cùng nhưng vẫn giữ được niềm vui và đam mê với công việc.</li>
                <li><strong class="text-color">Khách hàng là mục tiêu:</strong> Xác định khách hàng là trên hết, là mục tiêu trong việc hoạch định chính sách và chiến lược.</li>
            </ol>
        </div>
        <div class="col-md-6 col-sm-6 text-center">
            <img alt="Img contact" class="img-fluid" src="./../../../assets/images/kiem_nghiem.jpg" />
        </div>
    </div>
</div>
<div class="container d-sm-block d-none" id="foxsUSA-services">
    <h2 class="h2-title col-12 d-flex align-items-center justify-content-center text-color"><img alt="icon-title" src="../../../assets/images/icon_pharmacy_blueX.png"/>Lĩnh vực hoạt động</h2>
    <div class="row">        
        <div class="col-md-3 col-sm-6 text-center">
            <img alt="Gia công sản xuất thực phẩm chức năng" class="img-fluid" src="../../../assets/images/gia_cong_san_xuat_thuc_pham_chuc_nang.png"/>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <img alt="Xây dựng công thức thực phẩm chức năng" class="img-fluid" src="../../../assets/images/xay_dung_cong_thuc_thuc_pham_chuc_nang.png"/>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <img alt="Sản xuất mỹ phẩm, trang thiết bị y tế" class="img-fluid" src="../../../assets/images/san_xuat_my_pham_trang_thiet_bi_y_te.png"/>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <img alt="Đăng ký công bố an toàn thực phẩm" class="img-fluid" src="../../../assets/images/dang_ky_cong_bo_an_toan_thuc_pham.png"/>
        </div>
    </div>
</div>