<div class="container d-sm-block d-none" id="foxsUSA-services">
    <h2 class="h2-title col-12 d-flex align-items-center justify-content-center text-color"><img alt="icon-title" src="../../../assets/images/icon_pharmacy_blueX.png"/>Lĩnh vực hoạt động</h2>
    <div class="row">        
        <div class="col-md-3 col-sm-6 text-center">
            <img alt="Gia công sản xuất thực phẩm chức năng" class="img-fluid" src="../../../assets/images/gia_cong_san_xuat_thuc_pham_chuc_nang.png"/>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <img alt="Xây dựng công thức thực phẩm chức năng" class="img-fluid" src="../../../assets/images/xay_dung_cong_thuc_thuc_pham_chuc_nang.png"/>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <img alt="Sản xuất mỹ phẩm, trang thiết bị y tế" class="img-fluid" src="../../../assets/images/san_xuat_my_pham_trang_thiet_bi_y_te.png"/>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <img alt="Đăng ký công bố an toàn thực phẩm" class="img-fluid" src="../../../assets/images/dang_ky_cong_bo_an_toan_thuc_pham.png"/>
        </div>
    </div>
</div>