<div id="slide-customer">    
    <h2 class="h2-title d-flex align-items-center justify-content-center text-color"><img alt="icon-alt" src="../../../assets/images/icon_pharmacy_blueX.png"/>Đối tác</h2>
    <div class="container" style="background-color: #ffffff;">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
              <img src="../../../assets/images/doi-tac/doi_tac_1.jpg" alt="Doi tac 1" style="width: 220px;" />
            </ng-template>
            <ng-template carouselSlide>
              <img src="../../../assets/images/doi-tac/doi_tac_2.jpg" alt="Doi tac 1" style="width: 220px;" />
            </ng-template>
            <ng-template carouselSlide>
              <img src="../../../assets/images/doi-tac/doi_tac_3.jpg" alt="Doi tac 1" style="width: 220px;" />
            </ng-template>
            <ng-template carouselSlide>
              <img src="../../../assets/images/doi-tac/doi_tac_4.jpg" alt="Doi tac 1" style="width: 220px;" />
            </ng-template>
            <ng-template carouselSlide>
              <img src="../../../assets/images/doi-tac/doi_tac_5.jpg" alt="Doi tac 1" style="width: 220px;" />
            </ng-template>
            <ng-template carouselSlide>
                <img src="../../../assets/images/doi-tac/doi_tac_6.jpg" alt="Doi tac 1" style="width: 220px;" />
            </ng-template>            
        </owl-carousel-o>
    </div>    
</div>