<div id="slide-customer">    
    <h2 class="h2-title d-flex align-items-center justify-content-center text-color"><img alt="icon-alt" src="../../../assets/images/icon_pharmacy_blueX.png"/>Đối tác</h2>
    <div class="container" style="background-color: #ffffff;">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
              <img src="../../../assets/images/doi-tac/brand_01.png" alt="Doi tac 1" style="padding: 0 5px; width: 220px;" />
            </ng-template>
            <ng-template carouselSlide>
              <img src="../../../assets/images/doi-tac/brand_02.png" alt="Doi tac 1" style="padding: 0 5px; width: 220px;" />
            </ng-template>
            <ng-template carouselSlide>
              <img src="../../../assets/images/doi-tac/brand_03.png" alt="Doi tac 1" style="padding: 0 5px; width: 220px;" />
            </ng-template>
            <ng-template carouselSlide>
              <img src="../../../assets/images/doi-tac/brand_04.png" alt="Doi tac 1" style="padding: 0 5px; width: 220px;" />
            </ng-template>
            <ng-template carouselSlide>
              <img src="../../../assets/images/doi-tac/brand_05.png" alt="Doi tac 1" style="padding: 0 5px; width: 220px;" />
            </ng-template>
            <ng-template carouselSlide>
                <img src="../../../assets/images/doi-tac/brand_06.png" alt="Doi tac 1" style="padding: 0 5px; width: 220px;" />
            </ng-template>
            <ng-template carouselSlide>
                <img src="../../../assets/images/doi-tac/brand_03.png" alt="Doi tac 1" style="padding: 0 5px; width: 220px;" />
            </ng-template>    
        </owl-carousel-o>
    </div>    
</div>