<div class="container-fluid bg-custom-light sticky-top" id="main-menu">
    <nav class="navbar navbar-expand-lg navbar-light row">
        <a class="navbar-brand d-block d-md-none" routerLink="/">
            <img alt="Logo Foxs-USA" src="../../../assets/images/logo_Foxs-USA.png" style="width: 80px;" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerMainMenu"
            aria-controls="navbarTogglerMainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerMainMenu">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link text-color" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-color" routerLinkActive="active" routerLink="/about-us">Giới thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-color" routerLinkActive="active" routerLink="/services">Dịch vụ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-color" routerLinkActive="active" routerLink="/news">Tin tức</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-color" routerLinkActive="active" routerLink="/recruitment">Tuyển dụng</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-color" routerLinkActive="active" routerLink="/contact">Liên hệ</a>
                </li>
                <li class="nav-item">
                    <button class="btn my-2 my-sm-0" type="button">
                        <img alt="icon-search-foxsUSA" src="../../../assets/images/icon-search.png" width="30" />
                    </button>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 d-none">
                <input class="form-control mr-sm-2" type="search" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="button">Search</button>
            </form>
        </div>
    </nav>
</div>